
**/node_modules/
**/.node_modules/

/web/.git
./web/.git
./mobile/.git
/mobile/.git

*.git
*/.git


*.log
*.log.*


/dist/
/build/
/out/


package-lock.json
yarn.lock


.DS_Store         
Thumbs.db         
desktop.ini       


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.env
.env.local
.env.*.local


*.class


/coverage/
*.lcov


.android/
.gradle/


.idea/


*.iml

