---
import Home from '../components/Home.astro';
import AuthSection from '../components/AuthSection.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<Home />
	<div class="py-24 px-6">
		<AuthSection />
	</div>
</Layout>
